.toc {
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
}

.toc-list .toc-list {
  padding-left: 1rem;
  padding-top: 0.5rem;
  list-style: inside;
}

.toc-list-item {
  padding-bottom: 0.5rem;
  list-style: inside;
}

.toc-list-item:last-child {
  padding-bottom: 0;
}

.toc-link {
  font-weight: 600;
  color: #888;
}

.is-active-link {
  color: #ff2468;
  font-weight: 800;
}
