.toc {
  color: "red";
}

.toc li {
  /* 目次のリストのスタイル */
  list-style: none;
  overflow: hidden;
  font-size: 20px;
  color: "pink";
}

.toc a {
  /* 目次のリンクのスタイル */
  color: "red" !important;
  margin-left: 5px;
}

.toc a.is-active-link {
  /* 現在アクティブになっている目次のスタイル */
  color: "red";
  background-color: aqua;
  font-weight: 800;
}
