.toc {
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
}

.toc-list .toc-list {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.toc-list-item {
  padding-bottom: 0.5rem;
}

.toc-list-item:last-child {
  padding-bottom: 0;
}

.toc-link {
  color: rgba(156, 163, 175, 0.7);
}

.is-active-link {
  color: #282828;
  font-weight: 700;
}
